# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pyc
.python-version

# Virtual environments
.venv/
venv/
env/
ENV/
pip-wheel-metadata/

# Jupyter
.ipynb_checkpoints/

# Data and local outputs
*.db
*.sqlite
*.csv
/data/
**/raw/
**/processed/

# IDE and editor files
.vscode/
.idea/

# OS files
.DS_Store
Thumbs.db
desktop.ini

# Environment variables
.env
